@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;

}

a, u {
  text-decoration: none !important;
}
.content {
  /* This is used to avoid the navbar overlap */
  padding-top: 75px;
}

